RegistryOfficeBpel/bpelContent/LHCBpel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LHCBpelService" 
	targetNamespace="http://LHCBpelService.asose.disim.univaq.it/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://LHCBpelService.asose.disim.univaq.it/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" 
    targetNamespace="http://LHCBpelService.asose.disim.univaq.it/" version="1.0" 
    xmlns:tns="http://LHCBpelService.asose.disim.univaq.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="farmBusinessStartupRequest" type="tns:farmBusinessStartupRequest"/>

  <xs:element name="farmBusinessStartupResponse" type="tns:farmBusinessStartupResponse"/>
  
  <xs:element name="farmSiteInspectionResponse" type="tns:farmSiteInspectionResponse"/>
  
  <xs:element name="farmRegistrationNotification" type="tns:farmRegistrationNotification"/>
   <xsd:complexType name="farmRegistrationNotification">
		<xsd:sequence>	
            <xsd:element name="ChoreographyID" type="xsd:string"/>  
            <xsd:element name="farmRegistrationNotificationDetails" type="tns:farmRegistrationNotificationDetails"/>                                 	          							
		</xsd:sequence>
	</xsd:complexType>	
  
  
  <xsd:complexType name="farmRegistrationNotificationDetails">
		<xsd:sequence>	
            <xsd:element name="farmCode" type="xsd:string"/>  
            <xsd:element name="farmName" type="xsd:string"/> 
			<xsd:element name="siteAddress" type="tns:addressDetails"/>  
	        <xsd:element name="farmSurface" type="xsd:int"/> 			           
            <xsd:element name="productionType" type="tns:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="tns:breedingMethodTypology"/>                                 	          							
		</xsd:sequence>
	</xsd:complexType>	

  <xsd:complexType name="farmBusinessStartupRequest">
		<xsd:sequence>
			<xsd:element name="ChoreographyID" type="xsd:string"/>
			<xsd:element name="farmBusinessStartupRequestForm" type="tns:farmBusinessStartupRequestFormDetails"/>									
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="farmBusinessStartupRequestFormDetails">
		<xsd:sequence>
			<xsd:element name="owner" type="tns:personData"/>
			<xsd:element name="farm" type="tns:farmDetails"/>									
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="personData">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="surname" type="xsd:string"/>
			<xsd:element name="address" type="tns:addressDetails"/>
			<xsd:element name="phoneNumber" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="fiscalCode" type="xsd:string"/>									
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="addressDetails">
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string"/>       
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="postcode" type="xsd:int"/>            
        </xsd:sequence>
    </xsd:complexType>	

    <xsd:complexType name="farmDetails">
        <xsd:sequence>
            <xsd:element name="farmName" type="xsd:string"/>  
            <xsd:element name="companyName" type="xsd:string"/>   
            <xsd:element name="companyType" type="tns:companyTypology"/>     
     		<xsd:element name="companyHeadquarter" type="tns:addressDetails"/> 
            <xsd:element name="farmSurface" type="xsd:int"/>   
     		<xsd:element name="phoneNumber" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>                      
			<xsd:element name="vatNumber" type="xsd:string"/>            
            <xsd:element name="productionType" type="tns:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="tns:breedingMethodTypology"/>            
        </xsd:sequence>
    </xsd:complexType>	

	<xsd:simpleType name="companyTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="individual company"/>		
    		<xsd:enumeration value="partnership"/>				
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="productionTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="weaning center"/>		
    		<xsd:enumeration value="fattening for self-consumption"/>		
    		<xsd:enumeration value="fattening cattle adults"/>		
    		<xsd:enumeration value="fattening calf white meat"/>		
    		<xsd:enumeration value="milk production"/>			
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="breedingMethodTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="intensive"/>		
    		<xsd:enumeration value="free-range intensive"/>		
    		<xsd:enumeration value="transhumant"/>					
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="farmBusinessStartupResponse">
		<xsd:sequence>
            <xsd:element name="farmCode" type="xsd:string"/>  									
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="farmSiteInspectionResponse">
		<xsd:sequence>
			<xsd:element name="ChoreographyID" type="xsd:string"></xsd:element>
            <xsd:element name="siteInspectionVerbal" type="tns:veterinarySiteInspectionDetails"/>              							
		</xsd:sequence>
	</xsd:complexType>		
	
	<xsd:complexType name="veterinarySiteInspectionDetails">
		<xsd:sequence>
            <xsd:element name="veterinaryName" type="xsd:string"/>   
            <xsd:element name="veterinarySurname" type="xsd:string"/>       	
			<xsd:element name="siteAddress" type="tns:addressDetails"/>
	        <xsd:element name="farmSurface" type="xsd:int"/> 		 	
			<xsd:element name="productionType" type="tns:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="tns:breedingMethodTypology"/> 
            <xsd:element name="siteInspectionDate" type="xsd:date"/>   
	        <xsd:element name="referenceLegislation" type="xsd:string"/>             							
		</xsd:sequence>
	</xsd:complexType>	
	</xs:schema>
</wsdl:types>
  
  <wsdl:message name="farmBusinessStartupRequest">
    <wsdl:part name="parameters" element="tns:farmBusinessStartupRequest">
    </wsdl:part>
  </wsdl:message>
  
   <wsdl:message name="farmSiteInspectionResponse">
    <wsdl:part name="parameters" element="tns:farmSiteInspectionResponse">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="farmRegistrationNotification">
    <wsdl:part name="parameters" element="tns:farmRegistrationNotification">
    </wsdl:part>
  </wsdl:message>
    
  <wsdl:portType name="LHCBpel">
    <wsdl:operation name="FarmBusinessCodeRequest">
      <wsdl:input name="farmBusinessStartupRequest" message="tns:farmBusinessStartupRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FarmSiteInspectionVerbal">
      <wsdl:input name="farmSiteInspectionResponse" message="tns:farmSiteInspectionResponse">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FarmBusinessStartupNotification">
      <wsdl:input name="farmRegistrationNotification" message="tns:farmRegistrationNotification">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="LHCBpelServiceSoapBinding" type="tns:LHCBpel">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FarmBusinessCodeRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmBusinessStartupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FarmSiteInspectionVerbal">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmSiteInspectionResponse">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FarmBusinessStartupNotification">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmRegistrationNotification">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="LHCBpelService">
    <wsdl:port name="LHCBpelServicePort" binding="tns:LHCBpelServiceSoapBinding">
      <soap:address location="http://localhost:8080/ode/processes/LHCBpelService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
