RegistryOfficeBpel/bpelContent/Municipality.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2015 The CHOReVOLUTION project

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://eu.chorevolution.farmbusinessstartup/services/municipality"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://eu.chorevolution.farmbusinessstartup/services/municipality"
             name="MunicipalityService">
    <types>
    <xsd:schema version="1.0" targetNamespace="http://eu.chorevolution.farmbusinessstartup/services/municipality">
        <xsd:element name="farmBusinessCodeStartupNotificationElementRequest" type="tns:farmBusinessCodeStartupNotification"/>
		<xsd:complexType name="farmBusinessCodeStartupNotification">
			<xsd:sequence>	
	            <xsd:element name="farmCode" type="xsd:string"/>  
	   			<xsd:element name="farm" type="tns:farmDetails"/>                                	          							
			</xsd:sequence>
		</xsd:complexType>    	
	    <xsd:complexType name="farmDetails">
	        <xsd:sequence>
	            <xsd:element name="farmName" type="xsd:string"/>  
	            <xsd:element name="companyName" type="xsd:string"/>   
	            <xsd:element name="companyType" type="tns:companyTypology"/>     
	     		<xsd:element name="companyHeadquarter" type="tns:addressDetails"/> 
	            <xsd:element name="farmSurface" type="xsd:int"/>   
	     		<xsd:element name="phoneNumber" type="xsd:string"/>
				<xsd:element name="email" type="xsd:string"/>                      
				<xsd:element name="vatNumber" type="xsd:string"/>            
	            <xsd:element name="productionType" type="tns:productionTypology"/>
	            <xsd:element name="breedingMethodologyType" type="tns:breedingMethodTypology"/>            
	        </xsd:sequence>
	    </xsd:complexType>	
		<xsd:simpleType name="companyTypology">
			<xsd:restriction base="xsd:string">
	    		<xsd:enumeration value="individual company"/>		
	    		<xsd:enumeration value="partnership"/>				
			</xsd:restriction>
		</xsd:simpleType>	 
	    <xsd:complexType name="addressDetails">
	        <xsd:sequence>
	            <xsd:element name="city" type="xsd:string"/>       
	            <xsd:element name="street" type="xsd:string"/>
	            <xsd:element name="postcode" type="xsd:int"/>            
	        </xsd:sequence>
	    </xsd:complexType>	
		<xsd:simpleType name="productionTypology">
			<xsd:restriction base="xsd:string">
	    		<xsd:enumeration value="weaning center"/>		
	    		<xsd:enumeration value="fattening for self-consumption"/>		
	    		<xsd:enumeration value="fattening cattle adults"/>		
	    		<xsd:enumeration value="fattening calf white meat"/>		
	    		<xsd:enumeration value="milk production"/>			
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:simpleType name="breedingMethodTypology">
			<xsd:restriction base="xsd:string">
	    		<xsd:enumeration value="intensive"/>		
	    		<xsd:enumeration value="free-range intensive"/>		
	    		<xsd:enumeration value="transhumant"/>					
			</xsd:restriction>
		</xsd:simpleType>	    		   	      	   			    	    	   		   	 			   	            	   		       
    </xsd:schema>
    </types>    
    <message name="farmBusinessCodeStartupNotificationMessageRequest">
        <part name="parameters" element="tns:farmBusinessCodeStartupNotificationElementRequest"/>
    </message>   
    <portType name="MunicipalityPT">    
        <operation name="farmBusinessCodeStartupNotification">
            <input message="tns:farmBusinessCodeStartupNotificationMessageRequest"/>
        </operation> 		 			
    </portType> 
    <binding name="MunicipalityBinding" type="tns:MunicipalityPT">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>   
	    <operation name="farmBusinessCodeStartupNotification">
	    	<soap:operation soapAction=""/>
	        <input>
	        	<soap:body use="literal"/>
	      	</input>
	    </operation> 	    
    </binding>
    <service name="MunicipalityService">
      <port name="MunicipalityPort" binding="tns:MunicipalityBinding">
          <soap:address location="http://localhost:9090/Municipality/Municipality"></soap:address>
      </port>
    </service>
</definitions>