RegistryOfficeBpel/bpelContent/User.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UserService" 
	targetNamespace="http://eu.chorevolution.farmbusinessstartup/user" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://eu.chorevolution.farmbusinessstartup/user" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" 
    targetNamespace="http://eu.chorevolution.farmbusinessstartup/user" version="1.0" 
    xmlns:tns="http://eu.chorevolution.farmbusinessstartup/user" xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:element name="farmBusinessStartupRequest" type="tns:farmBusinessStartupRequest"/>

  <xs:element name="farmBusinessStartupResponse" type="tns:farmBusinessStartupResponse"/>

  <xsd:complexType name="farmBusinessStartupRequest">
		<xsd:sequence>
			<xsd:element name="farmBusinessStartupRequestForm" type="tns:farmBusinessStartupRequestFormDetails"/>									
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="farmBusinessStartupRequestFormDetails">
		<xsd:sequence>
			<xsd:element name="owner" type="tns:personData"/>
			<xsd:element name="farm" type="tns:farmDetails"/>									
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="personData">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="surname" type="xsd:string"/>
			<xsd:element name="address" type="tns:addressDetails"/>
			<xsd:element name="phoneNumber" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="fiscalCode" type="xsd:string"/>									
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="addressDetails">
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string"/>       
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="postcode" type="xsd:int"/>            
        </xsd:sequence>
    </xsd:complexType>	

    <xsd:complexType name="farmDetails">
        <xsd:sequence>
            <xsd:element name="farmName" type="xsd:string"/>  
            <xsd:element name="companyName" type="xsd:string"/>   
            <xsd:element name="companyType" type="tns:companyTypology"/>     
     		<xsd:element name="companyHeadquarter" type="tns:addressDetails"/> 
            <xsd:element name="farmSurface" type="xsd:int"/>   
     		<xsd:element name="phoneNumber" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>                      
			<xsd:element name="vatNumber" type="xsd:string"/>            
            <xsd:element name="productionType" type="tns:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="tns:breedingMethodTypology"/>            
        </xsd:sequence>
    </xsd:complexType>	

	<xsd:simpleType name="companyTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="individual company"/>		
    		<xsd:enumeration value="partnership"/>				
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="productionTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="weaning center"/>		
    		<xsd:enumeration value="fattening for self-consumption"/>		
    		<xsd:enumeration value="fattening cattle adults"/>		
    		<xsd:enumeration value="fattening calf white meat"/>		
    		<xsd:enumeration value="milk production"/>			
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="breedingMethodTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="intensive"/>		
    		<xsd:enumeration value="free-range intensive"/>		
    		<xsd:enumeration value="transhumant"/>					
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="farmBusinessStartupResponse">
		<xsd:sequence>
			<xsd:element name="ChoreographyID" type="xsd:string"/>
            <xsd:element name="farmCode" type="xsd:string"/>  									
		</xsd:sequence>
	</xsd:complexType>
</xs:schema>
  </wsdl:types>
  
  <wsdl:message name="farmBusinessStartupRequest">
    <wsdl:part name="parameters" element="tns:farmBusinessStartupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="farmBusinessStartupResponse">
    <wsdl:part name="parameters" element="tns:farmBusinessStartupResponse">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="User">
    <wsdl:operation name="FarmBusinessCodeRequest">
      <wsdl:input name="farmBusinessStartupRequest" message="tns:farmBusinessStartupRequest">
    </wsdl:input>
      <wsdl:output name="farmBusinessStartupResponse" message="tns:farmBusinessStartupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FarmBusinessCodeCallback">
      <wsdl:input name="farmBusinessStartupCallback" message="tns:farmBusinessStartupResponse">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="UserServiceSoapBinding" type="tns:User">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FarmBusinessCodeRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmBusinessStartupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="farmBusinessStartupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="FarmBusinessCodeCallback">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmBusinessStartupCallback">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="UserService">
    <wsdl:port name="UserServicePort" binding="tns:UserServiceSoapBinding">
      <soap:address location="http://localhost:8080/ode/processes/UserService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
