RegistryOfficeBpel/bpelContent/VeterinaryBpel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="VeterinaryBpelService" 
	targetNamespace="http://VeterinaryBpelService.asose.disim.univaq.it/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://VeterinaryBpelService.asose.disim.univaq.it/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" 
    targetNamespace="http://VeterinaryBpelService.asose.disim.univaq.it/" version="1.0" 
    xmlns:tns="http://VeterinaryBpelService.asose.disim.univaq.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="farmSiteInspectionRequest" type="tns:farmSiteInspectionRequest"/>

  <xs:element name="farmSiteInspectionResponse" type="tns:farmSiteInspectionResponse"/>
  
  <xs:element name="farmRegistrationNotification" type="tns:farmRegistrationNotification"/>

	<xsd:complexType name="addressDetails">
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string"/>       
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="postcode" type="xsd:int"/>            
        </xsd:sequence>
    </xsd:complexType>	
    
  <xsd:simpleType name="productionTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="weaning center"/>		
    		<xsd:enumeration value="fattening for self-consumption"/>		
    		<xsd:enumeration value="fattening cattle adults"/>		
    		<xsd:enumeration value="fattening calf white meat"/>		
    		<xsd:enumeration value="milk production"/>			
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="breedingMethodTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="intensive"/>		
    		<xsd:enumeration value="free-range intensive"/>		
    		<xsd:enumeration value="transhumant"/>					
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="farmSiteInspectionRequest">
		<xsd:sequence>
        	<xsd:element name="ChoreographyID" type="xsd:string"></xsd:element>   
        	<xsd:element name="farmSiteInspectionRequestDetails" type="tns:farmSiteInspectionRequestDetails"></xsd:element>   							
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="farmSiteInspectionRequestDetails">
	
		<xsd:sequence>
		
			<xsd:element name="farmName" type="xsd:string"/>  
            <xsd:element name="companyName" type="xsd:string"/>    	
			<xsd:element name="siteAddress" type="tns:addressDetails"/> 
            <xsd:element name="farmSurface" type="xsd:int"/> 				
			<xsd:element name="productionType" type="tns:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="tns:breedingMethodTypology"/> 
  			<xsd:element name="siteInspectionDeadline" type="xsd:date"/>
		
		</xsd:sequence>
	
	</xsd:complexType>
	
	<xsd:complexType name="farmSiteInspectionResponse">
		<xsd:sequence>
            <xsd:element name="siteInspectionVerbal" type="tns:veterinarySiteInspectionDetails"/>              							
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="veterinarySiteInspectionDetails">
		<xsd:sequence>
            <xsd:element name="veterinaryName" type="xsd:string"/>   
            <xsd:element name="veterinarySurname" type="xsd:string"/>       	
			<xsd:element name="siteAddress" type="tns:addressDetails"/>
	        <xsd:element name="farmSurface" type="xsd:int"/> 		 	
			<xsd:element name="productionType" type="tns:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="tns:breedingMethodTypology"/> 
            <xsd:element name="siteInspectionDate" type="xsd:date"/>   
	        <xsd:element name="referenceLegislation" type="xsd:string"/>             							
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="farmRegistrationNotification">
		<xsd:sequence>	
        	<xsd:element name="ChoreographyID" type="xsd:string"></xsd:element>
        	<xsd:element name="farmRegistrationNotificationDetails" type="tns:farmRegistrationNotificationDetails"></xsd:element>               	          							
		</xsd:sequence>
	</xsd:complexType>	
	
	<xsd:complexType name="farmRegistrationNotificationDetails">
	
		<xsd:sequence>
		
			<xsd:element name="farmCode" type="xsd:string"/>  
            <xsd:element name="farmName" type="xsd:string"/> 
			<xsd:element name="siteAddress" type="tns:addressDetails"/>  
	        <xsd:element name="farmSurface" type="xsd:int"/> 			           
            <xsd:element name="productionType" type="tns:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="tns:breedingMethodTypology"/> 
		
		</xsd:sequence>
	
	</xsd:complexType>
	
	</xs:schema>
</wsdl:types>
  
  <wsdl:message name="farmSiteInspectionRequest">
    <wsdl:part name="parameters" element="tns:farmSiteInspectionRequest">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="farmRegistrationNotification">
    <wsdl:part name="parameters" element="tns:farmRegistrationNotification">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="VeterinaryBpel">
    <wsdl:operation name="FarmOpeningSiteInspectionRequest">
      <wsdl:input name="farmSiteInspectionRequest" message="tns:farmSiteInspectionRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FarmHealthcareRegistration">
      <wsdl:input name="farmRegistrationNotification" message="tns:farmRegistrationNotification">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="VeterinaryBpelServiceSoapBinding" type="tns:VeterinaryBpel">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FarmOpeningSiteInspectionRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmSiteInspectionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FarmHealthcareRegistration">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmRegistrationNotification">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="VeterinaryBpelService">
    <wsdl:port name="VeterinaryBpelServicePort" binding="tns:VeterinaryBpelServiceSoapBinding">
      <soap:address location="http://localhost:8080/ode/processes/VeterinaryBpelService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
