RegistryOfficeBpel/wsdl/RegistryOfficeBpel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RegistryOfficeBpelService" 
	targetNamespace="http://RegistryOfficeBpelService.asose.disim.univaq.it/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://RegistryOfficeBpelService.asose.disim.univaq.it/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" 
    targetNamespace="http://RegistryOfficeBpelService.asose.disim.univaq.it/" version="1.0" 
    xmlns:tns="http://RegistryOfficeBpelService.asose.disim.univaq.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="farmOpeningNotification" type="tns:farmOpeningNotification"/>
  
  <xsd:complexType name="addressDetails">
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string"/>       
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="postcode" type="xsd:int"/>            
        </xsd:sequence>
    </xsd:complexType>

  <xsd:complexType name="veterinarySiteInspectionDetails">
		<xsd:sequence>
            <xsd:element name="veterinaryName" type="xsd:string"/>   
            <xsd:element name="veterinarySurname" type="xsd:string"/>       	
			<xsd:element name="siteAddress" type="tns:addressDetails"/>
	        <xsd:element name="farmSurface" type="xsd:int"/> 		 	
			<xsd:element name="productionType" type="tns:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="tns:breedingMethodTypology"/> 
            <xsd:element name="siteInspectionDate" type="xsd:date"/>   
	        <xsd:element name="referenceLegislation" type="xsd:string"/>             							
		</xsd:sequence>
	</xsd:complexType>	
	
	<xsd:simpleType name="productionTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="weaning center"/>		
    		<xsd:enumeration value="fattening for self-consumption"/>		
    		<xsd:enumeration value="fattening cattle adults"/>		
    		<xsd:enumeration value="fattening calf white meat"/>		
    		<xsd:enumeration value="milk production"/>			
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="farmBusinessStartupRequestFormDetails">
		<xsd:sequence>
			<xsd:element name="owner" type="tns:personData"/>
			<xsd:element name="farm" type="tns:farmDetails"/>									
		</xsd:sequence>
	</xsd:complexType>
	
	 <xsd:complexType name="farmDetails">
        <xsd:sequence>
            <xsd:element name="farmName" type="xsd:string"/>  
            <xsd:element name="companyName" type="xsd:string"/>   
            <xsd:element name="companyType" type="tns:companyTypology"/>     
     		<xsd:element name="companyHeadquarter" type="tns:addressDetails"/> 
            <xsd:element name="farmSurface" type="xsd:int"/>   
     		<xsd:element name="phoneNumber" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>                      
			<xsd:element name="vatNumber" type="xsd:string"/>            
            <xsd:element name="productionType" type="tns:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="tns:breedingMethodTypology"/>            
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="breedingMethodTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="intensive"/>		
    		<xsd:enumeration value="free-range intensive"/>		
    		<xsd:enumeration value="transhumant"/>					
		</xsd:restriction>
	</xsd:simpleType>
    
    <xsd:simpleType name="companyTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="individual company"/>		
    		<xsd:enumeration value="partnership"/>				
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="personData">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="surname" type="xsd:string"/>
			<xsd:element name="address" type="tns:addressDetails"/>
			<xsd:element name="phoneNumber" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="fiscalCode" type="xsd:string"/>									
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="farmOpeningNotification">
		<xsd:sequence>
            <xsd:element name="farmOpeningRequestForm" type="tns:farmBusinessStartupRequestFormDetails"/>   
            <xsd:element name="siteInspectionDetails" type="tns:veterinarySiteInspectionDetails"/>       	          							
		</xsd:sequence>
	</xsd:complexType>	
		
	</xs:schema>
</wsdl:types>
  
  <wsdl:message name="farmOpeningNotification">
    <wsdl:part name="parameters" element="tns:farmOpeningNotification">
    </wsdl:part>
  </wsdl:message>
    
  <wsdl:portType name="RegistryOfficeBpel">
    <wsdl:operation name="FarmOpening">
      <wsdl:input name="farmOpeningNotification" message="tns:farmOpeningNotification">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="RegistryOfficeBpelServiceSoapBinding" type="tns:RegistryOfficeBpel">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FarmOpening">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmOpeningNotification">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="RegistryOfficeBpelService">
    <wsdl:port name="RegistryOfficeBpelServicePort" binding="tns:RegistryOfficeBpelServiceSoapBinding">
      <soap:address location="http://localhost:8080/ode/processes/RegistryOfficeBpelService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
