RegistryOffice/src/main/resources/RegistryOffice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://eu.chorevolution.farmbusinessstartup/registryoffice" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="registryoffice" targetNamespace="http://eu.chorevolution.farmbusinessstartup/registryoffice">
  <wsdl:types>
    <xsd:schema xmlns="http://eu.chorevolution.farmbusinessstartup/registryoffice" elementFormDefault="unqualified" targetNamespace="http://eu.chorevolution.farmbusinessstartup/registryoffice">
    <xsd:complexType name="farmBusinessStartupRequest">
        <xsd:sequence>
            <xsd:element name="farmBusinessStartupRequestForm" type="farmBusinessStartupRequestFormDetails"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmBusinessStartupRequestFormDetails">
        <xsd:sequence>
            <xsd:element name="owner" type="personData"/>
            <xsd:element name="farm" type="farmDetails"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="personData">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="surname" type="xsd:string"/>
            <xsd:element name="address" type="addressDetails"/>
            <xsd:element name="phoneNumber" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="fiscalCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="addressDetails">
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="postcode" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmDetails">
        <xsd:sequence>
            <xsd:element name="farmName" type="xsd:string"/>
            <xsd:element name="companyName" type="xsd:string"/>
            <xsd:element name="companyType" type="companyTypology"/>
            <xsd:element name="companyHeadquarter" type="addressDetails"/>
            <xsd:element name="farmSurface" type="xsd:int"/>
            <xsd:element name="phoneNumber" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="vatNumber" type="xsd:string"/>
            <xsd:element name="productionType" type="productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="breedingMethodTypology"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="companyTypology">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="individual company"/>
            <xsd:enumeration value="partnership"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="productionTypology">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="weaning center"/>
            <xsd:enumeration value="fattening for self-consumption"/>
            <xsd:enumeration value="fattening cattle adults"/>
            <xsd:enumeration value="fattening calf white meat"/>
            <xsd:enumeration value="milk production"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="breedingMethodTypology">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="intensive"/>
            <xsd:enumeration value="free-range intensive"/>
            <xsd:enumeration value="transhumant"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="farmSiteInspectionRequest">
        <xsd:sequence>
            <xsd:element name="farmName" type="xsd:string"/>
            <xsd:element name="companyName" type="xsd:string"/>
            <xsd:element name="siteAddress" type="addressDetails"/>
            <xsd:element name="farmSurface" type="xsd:int"/>
            <xsd:element name="productionType" type="productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="breedingMethodTypology"/>
            <xsd:element name="siteInspectionDeadline" type="xsd:date"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmSiteInspectionResponse">
        <xsd:sequence>
            <xsd:element name="siteInspectionVerbal" type="veterinarySiteInspectionDetails"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="veterinarySiteInspectionDetails">
        <xsd:sequence>
            <xsd:element name="veterinaryName" type="xsd:string"/>
            <xsd:element name="veterinarySurname" type="xsd:string"/>
            <xsd:element name="siteAddress" type="addressDetails"/>
            <xsd:element name="farmSurface" type="xsd:int"/>
            <xsd:element name="productionType" type="productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="breedingMethodTypology"/>
            <xsd:element name="siteInspectionDate" type="xsd:date"/>
            <xsd:element name="referenceLegislation" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmOpeningNotification">
        <xsd:sequence>
            <xsd:element name="farmOpeningRequestForm" type="farmBusinessStartupRequestFormDetails"/>
            <xsd:element name="siteInspectionDetails" type="veterinarySiteInspectionDetails"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmRegistrationRequest">
        <xsd:sequence>
            <xsd:element name="owner" type="personData"/>
            <xsd:element name="farm" type="farmDetails"/>
            <xsd:element name="siteInspectionDetails" type="veterinarySiteInspectionDetails"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmRegistrationResponse">
        <xsd:sequence>
            <xsd:element name="farmCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmBusinessStartupResponse">
        <xsd:sequence>
            <xsd:element name="farmCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmRegistrationNotification">
        <xsd:sequence>
            <xsd:element name="farmCode" type="xsd:string"/>
            <xsd:element name="farmName" type="xsd:string"/>
            <xsd:element name="siteAddress" type="addressDetails"/>
            <xsd:element name="farmSurface" type="xsd:int"/>
            <xsd:element name="productionType" type="productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="breedingMethodTypology"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmBusinessCodeStartupNotification">
        <xsd:sequence>
            <xsd:element name="farmCode" type="xsd:string"/>
            <xsd:element name="farm" type="farmDetails"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmOpeningNotificationType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="senderParticipantName" type="xsd:string"/>
            <xsd:element name="receiverParticipantName" type="xsd:string"/>
            <xsd:element name="choreographyTaskName" type="xsd:string"/>
            <xsd:element name="inputMessageName" type="xsd:string"/>
            <xsd:element name="inputMessageData" type="farmOpeningNotification"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="farmOpeningNotificationElementRequest" type="farmOpeningNotificationType"/>
    <xsd:element name="farmOpeningNotificationElementResponse" type="farmOpeningNotificationReturnType"/>
    <xsd:complexType name="farmOpeningNotificationReturnType">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="choreographyInstanceRequest">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sendRequestType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="senderParticipantName" type="xsd:string"/>
            <xsd:element name="receiverParticipantName" type="xsd:string"/>
            <xsd:element name="choreographyTaskName" type="xsd:string"/>
            <xsd:element name="inputMessageName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="sendFarmRegistrationRequestElementRequest" type="sendRequestType"/>
    <xsd:complexType name="farmRegistrationRequestReturnType">
        <xsd:sequence>
            <xsd:element name="inputMessageData" type="farmRegistrationRequest"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="sendFarmRegistrationRequestElementResponse" type="farmRegistrationRequestReturnType"/>
    <xsd:complexType name="receiveFarmRegistrationResponseType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="senderParticipantName" type="xsd:string"/>
            <xsd:element name="receiverParticipantName" type="xsd:string"/>
            <xsd:element name="choreographyTaskName" type="xsd:string"/>
            <xsd:element name="outputMessageName" type="xsd:string"/>
            <xsd:element name="outputMessageData" type="farmRegistrationResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="receiveFarmRegistrationResponseReturnType">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:element name="receiveFarmRegistrationResponseElementRequest" type="receiveFarmRegistrationResponseType"/>
    <xsd:element name="receiveFarmRegistrationResponseElementResponse" type="receiveFarmRegistrationResponseReturnType"/>
    <xsd:element name="sendFarmRegistrationNotificationElementRequest" type="sendRequestType"/>
    <xsd:complexType name="farmRegistrationNotificationReturnType">
        <xsd:sequence>
            <xsd:element name="inputMessageData" type="farmRegistrationNotification"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="sendFarmRegistrationNotificationElementResponse" type="farmRegistrationNotificationReturnType"/>
    <xsd:element name="sendFarmBusinessCodeStartupNotificationElementRequest" type="sendRequestType"/>
    <xsd:complexType name="farmBusinessCodeStartupNotificationReturnType">
        <xsd:sequence>
            <xsd:element name="inputMessageData" type="farmBusinessCodeStartupNotification"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="sendFarmBusinessCodeStartupNotificationElementResponse" type="farmBusinessCodeStartupNotificationReturnType"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendFarmRegistrationNotificationMessageResponse">
    <wsdl:part element="tns:sendFarmRegistrationNotificationElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendFarmRegistrationRequestMessageRequest">
    <wsdl:part element="tns:sendFarmRegistrationRequestElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveFarmRegistrationResponseMessageResponse">
    <wsdl:part element="tns:receiveFarmRegistrationResponseElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendFarmRegistrationRequestMessageResponse">
    <wsdl:part element="tns:sendFarmRegistrationRequestElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendFarmRegistrationNotificationMessageRequest">
    <wsdl:part element="tns:sendFarmRegistrationNotificationElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="farmOpeningNotificationMessageRequest">
    <wsdl:part element="tns:farmOpeningNotificationElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendFarmBusinessCodeStartupNotificationMessageRequest">
    <wsdl:part element="tns:sendFarmBusinessCodeStartupNotificationElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="farmOpeningNotificationMessageResponse">
    <wsdl:part element="tns:farmOpeningNotificationElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveFarmRegistrationResponseMessageRequest">
    <wsdl:part element="tns:receiveFarmRegistrationResponseElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendFarmBusinessCodeStartupNotificationMessageResponse">
    <wsdl:part element="tns:sendFarmBusinessCodeStartupNotificationElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegistryOfficePT">
    <wsdl:operation name="farmOpening">
      <wsdl:input message="tns:farmOpeningNotificationMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:farmOpeningNotificationMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendFarmRegistrationRequest">
      <wsdl:input message="tns:sendFarmRegistrationRequestMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendFarmRegistrationRequestMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveFarmRegistrationResponse">
      <wsdl:input message="tns:receiveFarmRegistrationResponseMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:receiveFarmRegistrationResponseMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendFarmRegistrationNotification">
      <wsdl:input message="tns:sendFarmRegistrationNotificationMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendFarmRegistrationNotificationMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendFarmBusinessCodeStartupNotification">
      <wsdl:input message="tns:sendFarmBusinessCodeStartupNotificationMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendFarmBusinessCodeStartupNotificationMessageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistryOfficeBinding" type="tns:RegistryOfficePT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="farmOpening">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendFarmRegistrationRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveFarmRegistrationResponse">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendFarmRegistrationNotification">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendFarmBusinessCodeStartupNotification">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistryOfficeService">
    <wsdl:port binding="tns:RegistryOfficeBinding" name="RegistryOfficePort">
      <soap:address location="http://localhost:9090/RegistryOffice/RegistryOffice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
