cdUser/localhealthcarecompany.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://eu.chorevolution.farmbusinessstartup/types"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://eu.chorevolution.farmbusinessstartup/types"
	targetNamespace="http://eu.chorevolution.farmbusinessstartup/types">
	<wsdl:types>
		<xsd:schema xmlns="http://eu.chorevolution.farmbusinessstartup/types"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://eu.chorevolution.farmbusinessstartup/types">
			<xsd:element name="farmBusinessStartupRequest">
				<xsd:complexType>
					<xsd:sequence>
						<!--<xsd:element name="choreographyId" type="xsd:string" />-->
						<xsd:element name="farmBusinessStartupRequestForm"
							type="tns:farmBusinessStartupRequestFormDetails" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="farmBusinessStartupRequestFormDetails">
				<xsd:sequence>
					<xsd:element name="owner" type="tns:personData" />
					<xsd:element name="farm" type="tns:farmDetails" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="personData">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="surname" type="xsd:string" />
					<xsd:element name="address" type="tns:addressDetails" />
					<xsd:element name="phoneNumber" type="xsd:string" />
					<xsd:element name="email" type="xsd:string" />
					<xsd:element name="fiscalCode" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="addressDetails">
				<xsd:sequence>
					<xsd:element name="city" type="xsd:string" />
					<xsd:element name="street" type="xsd:string" />
					<xsd:element name="postcode" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="farmDetails">
				<xsd:sequence>
					<xsd:element name="farmName" type="xsd:string" />
					<xsd:element name="companyName" type="xsd:string" />
					<xsd:element name="companyType" type="tns:companyTypology" />
					<xsd:element name="companyHeadquarter" type="tns:addressDetails" />
					<xsd:element name="farmSurface" type="xsd:int" />
					<xsd:element name="phoneNumber" type="xsd:string" />
					<xsd:element name="email" type="xsd:string" />
					<xsd:element name="vatNumber" type="xsd:string" />
					<xsd:element name="productionType" type="tns:productionTypology" />
					<xsd:element name="breedingMethodologyType" type="tns:breedingMethodTypology" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="companyTypology">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="individual company" />
					<xsd:enumeration value="partnership" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="productionTypology">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="weaning center" />
					<xsd:enumeration value="fattening for self-consumption" />
					<xsd:enumeration value="fattening cattle adults" />
					<xsd:enumeration value="fattening calf white meat" />
					<xsd:enumeration value="milk production" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="breedingMethodTypology">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="intensive" />
					<xsd:enumeration value="free-range intensive" />
					<xsd:enumeration value="transhumant" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="farmSiteInspectionRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="choreographyId" type="xsd:string" />
						<xsd:element name="siteInspectionVerbal"
							type="tns:veterinarySiteInspectionDetails" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="veterinarySiteInspectionDetails">
				<xsd:sequence>
				
					<xsd:element name="veterinaryName" type="xsd:string" />
					<xsd:element name="veterinarySurname" type="xsd:string" />
					<xsd:element name="siteAddress" type="tns:addressDetails" />
					<xsd:element name="farmSurface" type="xsd:int" />
					<xsd:element name="productionType" type="tns:productionTypology" />
					<xsd:element name="breedingMethodologyType" type="tns:breedingMethodTypology" />
					<xsd:element name="siteInspectionDate" type="xsd:date" />
					<xsd:element name="referenceLegislation" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="farmRegistrationNotification">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="farmCode" type="xsd:string" />
						<xsd:element name="farmName" type="xsd:string" />
						<xsd:element name="siteAddress" type="tns:addressDetails" />
						<xsd:element name="farmSurface" type="xsd:int" />
						<xsd:element name="productionType" type="tns:productionTypology" />
						<xsd:element name="breedingMethodologyType" type="tns:breedingMethodTypology" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="farmSiteInspectionRequest">
		<wsdl:part element="tns:farmSiteInspectionRequest" name="farmSiteInspectionRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="farmBusinessStartupRequest">
		<wsdl:part element="tns:farmBusinessStartupRequest" name="farmBusinessStartupRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LocalHealthcareCompanyPort">
		<wsdl:operation name="farmSiteInspection">
			<wsdl:input message="tns:farmSiteInspectionRequest" name="farmSiteInspectionRequest">
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="farmBusinessStartup">
			<wsdl:input message="tns:farmBusinessStartupRequest" name="farmBusinessStartupRequest">
			</wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LocalHealthcareCompanyPortSoap11"
		type="tns:LocalHealthcareCompanyPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="farmSiteInspection">
			<soap:operation soapAction="" />
			<wsdl:input name="farmSiteInspectionRequest">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="farmBusinessStartup">
			<soap:operation soapAction="" />
			<wsdl:input name="farmBusinessStartupRequest">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LocalHealthcareCompanyPortService">
		<wsdl:port binding="tns:LocalHealthcareCompanyPortSoap11"
			name="LocalHealthcareCompanyPortSoap11">
			<soap:address location="http://localhost:7070/LocalHealthcareCompany" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>