VeterinaryBPEL/bpelContent/LocalHealthcareCompanyBPEL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:lhc="http://it.univaq.disim.bpd.LocalHealthcareCompanyBPEL" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocalHealthcareCompanyBPEL" targetNamespace="http://it.univaq.disim.bpd.LocalHealthcareCompanyBPEL" >
  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.disim.bpd.LocalHealthcareCompanyBPEL">
    <xsd:element name="farmBusinessStartupRequest" type="lhc:farmBusinessStartupRequest"/>

  <xsd:element name="farmBusinessStartupResponse" type="lhc:farmBusinessStartupResponse"/>
  
  <xsd:element name="farmSiteInspectionResponse" type="lhc:farmSiteInspectionResponse"/>
  
  <xsd:element name="farmRegistrationNotification" type="lhc:farmRegistrationNotification"/>
   <xsd:complexType name="farmRegistrationNotification">
    <xsd:sequence>  
            <xsd:element name="ChoreographyID" type="xsd:string"/>  
            <xsd:element name="farmRegistrationNotificationDetails" type="lhc:farmRegistrationNotificationDetails"/>                                                          
    </xsd:sequence>
  </xsd:complexType>  
  
  
  <xsd:complexType name="farmRegistrationNotificationDetails">
    <xsd:sequence>  
            <xsd:element name="farmCode" type="xsd:string"/>  
            <xsd:element name="farmName" type="xsd:string"/> 
      <xsd:element name="siteAddress" type="lhc:addressDetails"/>  
          <xsd:element name="farmSurface" type="xsd:int"/>                 
            <xsd:element name="productionType" type="lhc:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="lhc:breedingMethodTypology"/>                                                           
    </xsd:sequence>
  </xsd:complexType>  

  <xsd:complexType name="farmBusinessStartupRequest">
    <xsd:sequence>
      <xsd:element name="ChoreographyID" type="xsd:string"/>
      <xsd:element name="farmBusinessStartupRequestForm" type="lhc:farmBusinessStartupRequestFormDetails"/>                 
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="farmBusinessStartupRequestFormDetails">
    <xsd:sequence>
      <xsd:element name="owner" type="lhc:personData"/>
      <xsd:element name="farm" type="lhc:farmDetails"/>                 
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="personData">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="surname" type="xsd:string"/>
      <xsd:element name="address" type="lhc:addressDetails"/>
      <xsd:element name="phoneNumber" type="xsd:string"/>
      <xsd:element name="email" type="xsd:string"/>
      <xsd:element name="fiscalCode" type="xsd:string"/>                  
    </xsd:sequence>
  </xsd:complexType>

    <xsd:complexType name="addressDetails">
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string"/>       
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="postcode" type="xsd:int"/>            
        </xsd:sequence>
    </xsd:complexType>  

    <xsd:complexType name="farmDetails">
        <xsd:sequence>
            <xsd:element name="farmName" type="xsd:string"/>  
            <xsd:element name="companyName" type="xsd:string"/>   
            <xsd:element name="companyType" type="lhc:companyTypology"/>     
        <xsd:element name="companyHeadquarter" type="lhc:addressDetails"/> 
            <xsd:element name="farmSurface" type="xsd:int"/>   
        <xsd:element name="phoneNumber" type="xsd:string"/>
      <xsd:element name="email" type="xsd:string"/>                      
      <xsd:element name="vatNumber" type="xsd:string"/>            
            <xsd:element name="productionType" type="lhc:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="lhc:breedingMethodTypology"/>            
        </xsd:sequence>
    </xsd:complexType>  

  <xsd:simpleType name="companyTypology">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="individual company"/>   
        <xsd:enumeration value="partnership"/>        
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="productionTypology">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="weaning center"/>   
        <xsd:enumeration value="fattening for self-consumption"/>   
        <xsd:enumeration value="fattening cattle adults"/>    
        <xsd:enumeration value="fattening calf white meat"/>    
        <xsd:enumeration value="milk production"/>      
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="breedingMethodTypology">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="intensive"/>    
        <xsd:enumeration value="free-range intensive"/>   
        <xsd:enumeration value="transhumant"/>          
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:complexType name="farmBusinessStartupResponse">
    <xsd:sequence>
            <xsd:element name="farmCode" type="xsd:string"/>                    
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="farmSiteInspectionResponse">
    <xsd:sequence>
      <xsd:element name="ChoreographyID" type="xsd:string"></xsd:element>
            <xsd:element name="siteInspectionVerbal" type="lhc:veterinarySiteInspectionDetails"/>                           
    </xsd:sequence>
  </xsd:complexType>    
  
  <xsd:complexType name="veterinarySiteInspectionDetails">
    <xsd:sequence>
            <xsd:element name="veterinaryName" type="xsd:string"/>   
            <xsd:element name="veterinarySurname" type="xsd:string"/>         
      <xsd:element name="siteAddress" type="lhc:addressDetails"/>
          <xsd:element name="farmSurface" type="xsd:int"/>      
      <xsd:element name="productionType" type="lhc:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="lhc:breedingMethodTypology"/> 
            <xsd:element name="siteInspectionDate" type="xsd:date"/>   
          <xsd:element name="referenceLegislation" type="xsd:string"/>                          
    </xsd:sequence>
  </xsd:complexType>  
  </xsd:schema>
</wsdl:types>
  
  <wsdl:message name="farmBusinessStartupRequest">
    <wsdl:part name="parameters" element="lhc:farmBusinessStartupRequest">
    </wsdl:part>
  </wsdl:message>
  
   <wsdl:message name="farmSiteInspectionResponse">
    <wsdl:part name="parameters" element="lhc:farmSiteInspectionResponse">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="farmRegistrationNotification">
    <wsdl:part name="parameters" element="lhc:farmRegistrationNotification">
    </wsdl:part>
  </wsdl:message>
    
  <wsdl:portType name="LocalHealthcareCompanyBpel">
    <wsdl:operation name="FarmBusinessCodeRequest">
      <wsdl:input name="farmBusinessStartupRequest" message="lhc:farmBusinessStartupRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FarmSiteInspectionVerbal">
      <wsdl:input name="farmSiteInspectionResponse" message="lhc:farmSiteInspectionResponse">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FarmBusinessStartupNotification">
      <wsdl:input name="farmRegistrationNotification" message="lhc:farmRegistrationNotification">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="LHCBpelServiceSoapBinding" type="lhc:LocalHealthcareCompanyBpel">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FarmBusinessCodeRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmBusinessStartupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FarmSiteInspectionVerbal">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmSiteInspectionResponse">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FarmBusinessStartupNotification">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmRegistrationNotification">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="LocalHealthcareCompanyBpelService">
    <wsdl:port name="LocalHealthcareCompanyBpelServicePort" binding="lhc:LHCBpelServiceSoapBinding">
      <soap:address location="http://localhost:8080/ode/processes/LocalHealthcareCompanyBpelService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
