VeterinaryBPEL/bpelContent/RegistryOfficeBPEL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ro="http://it.univaq.disim.bpd.RegistryOfficeBPEL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegistryOfficeBPEL" targetNamespace="http://it.univaq.disim.bpd.RegistryOfficeBPEL">
  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.disim.bpd.RegistryOfficeBPEL">
    <xsd:element name="farmOpeningNotification" type="ro:farmOpeningNotification"/>
  
  <xsd:complexType name="addressDetails">
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string"/>       
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="postcode" type="xsd:int"/>            
        </xsd:sequence>
    </xsd:complexType>

  <xsd:complexType name="veterinarySiteInspectionDetails">
		<xsd:sequence>
            <xsd:element name="veterinaryName" type="xsd:string"/>   
            <xsd:element name="veterinarySurname" type="xsd:string"/>       	
			<xsd:element name="siteAddress" type="ro:addressDetails"/>
	        <xsd:element name="farmSurface" type="xsd:int"/> 		 	
			<xsd:element name="productionType" type="ro:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="ro:breedingMethodTypology"/> 
            <xsd:element name="siteInspectionDate" type="xsd:date"/>   
	        <xsd:element name="referenceLegislation" type="xsd:string"/>             							
		</xsd:sequence>
	</xsd:complexType>	
	
	<xsd:simpleType name="productionTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="weaning center"/>		
    		<xsd:enumeration value="fattening for self-consumption"/>		
    		<xsd:enumeration value="fattening cattle adults"/>		
    		<xsd:enumeration value="fattening calf white meat"/>		
    		<xsd:enumeration value="milk production"/>			
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="farmBusinessStartupRequestFormDetails">
		<xsd:sequence>
			<xsd:element name="owner" type="ro:personData"/>
			<xsd:element name="farm" type="ro:farmDetails"/>									
		</xsd:sequence>
	</xsd:complexType>
	
	 <xsd:complexType name="farmDetails">
        <xsd:sequence>
            <xsd:element name="farmName" type="xsd:string"/>  
            <xsd:element name="companyName" type="xsd:string"/>   
            <xsd:element name="companyType" type="ro:companyTypology"/>     
     		<xsd:element name="companyHeadquarter" type="ro:addressDetails"/> 
            <xsd:element name="farmSurface" type="xsd:int"/>   
     		<xsd:element name="phoneNumber" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>                      
			<xsd:element name="vatNumber" type="xsd:string"/>            
            <xsd:element name="productionType" type="ro:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="ro:breedingMethodTypology"/>            
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="breedingMethodTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="intensive"/>		
    		<xsd:enumeration value="free-range intensive"/>		
    		<xsd:enumeration value="transhumant"/>					
		</xsd:restriction>
	</xsd:simpleType>
    
    <xsd:simpleType name="companyTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="individual company"/>		
    		<xsd:enumeration value="partnership"/>				
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="personData">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="surname" type="xsd:string"/>
			<xsd:element name="address" type="ro:addressDetails"/>
			<xsd:element name="phoneNumber" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="fiscalCode" type="xsd:string"/>									
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="farmOpeningNotification">
		<xsd:sequence>
			<xsd:element name="ChoreographyID" type="xsd:string"></xsd:element>
            <xsd:element name="farmOpeningNotificationDetails" type="ro:farmOpeningNotificationDetails"/>          	          							
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="farmOpeningNotificationDetails">
		
		<xsd:sequence>
		
			<xsd:element name="farmOpeningRequestForm" type="ro:farmBusinessStartupRequestFormDetails"/>   
            <xsd:element name="siteInspectionDetails" type="ro:veterinarySiteInspectionDetails"/>       
		
		</xsd:sequence>
		
	</xsd:complexType>	
		
	</xsd:schema>
</wsdl:types>
  
  <wsdl:message name="farmOpeningNotification">
    <wsdl:part name="parameters" element="ro:farmOpeningNotification">
    </wsdl:part>
  </wsdl:message>
    
  <wsdl:portType name="RegistryOfficeBpel">
    <wsdl:operation name="FarmOpening">
      <wsdl:input name="farmOpeningNotification" message="ro:farmOpeningNotification">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="RegistryOfficeBpelServiceSoapBinding" type="ro:RegistryOfficeBpel">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FarmOpening">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmOpeningNotification">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="RegistryOfficeBpel">
    <wsdl:port name="RegistryOfficeBpelPort" binding="ro:RegistryOfficeBpelServiceSoapBinding">
      <soap:address location="http://localhost:8080/ode/processes/RegistryOfficeBpel"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
    