VeterinaryBPEL/bpelContent/VeterinaryBPEL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vet="http://it.univaq.disim.bpd.VeterinaryBPEL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile" targetNamespace="http://it.univaq.disim.bpd.VeterinaryBPEL">
  <wsdl:types>
    <xsd:schema targetNamespace="http://it.univaq.disim.bpd.VeterinaryBPEL">
     <xsd:element name="farmSiteInspectionRequest" type="vet:farmSiteInspectionRequest"/>

  <xsd:element name="farmSiteInspectionResponse" type="vet:farmSiteInspectionResponse"/>
  
  <xsd:element name="farmRegistrationNotification" type="vet:farmRegistrationNotification"/>

	<xsd:complexType name="addressDetails">
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string"/>       
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="postcode" type="xsd:int"/>            
        </xsd:sequence>
    </xsd:complexType>	
    
  <xsd:simpleType name="productionTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="weaning center"/>		
    		<xsd:enumeration value="fattening for self-consumption"/>		
    		<xsd:enumeration value="fattening cattle adults"/>		
    		<xsd:enumeration value="fattening calf white meat"/>		
    		<xsd:enumeration value="milk production"/>			
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="breedingMethodTypology">
		<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="intensive"/>		
    		<xsd:enumeration value="free-range intensive"/>		
    		<xsd:enumeration value="transhumant"/>					
		</xsd:restriction>
	</xsd:simpleType>

<!-- 	<xsd:complexType name="farmSiteInspectionRequest"> -->
<!-- 		<xsd:sequence> -->
<!--         	<xsd:element name="ChoreographyID" type="xsd:string"></xsd:element>    -->
<!--         	<xsd:element name="farmSiteInspectionRequestDetails" type="vet:farmSiteInspectionRequestDetails"></xsd:element>   							 -->
<!-- 		</xsd:sequence> -->
<!-- 	</xsd:complexType> -->
	
	<!--  <xsd:complexType name="farmSiteInspectionRequestDetails"> -->
		<xsd:complexType name="farmSiteInspectionRequest">
		<xsd:sequence>
		
			<xsd:element name="farmName" type="xsd:string"/>  
            <xsd:element name="companyName" type="xsd:string"/>    	
			<xsd:element name="siteAddress" type="vet:addressDetails"/> 
            <xsd:element name="farmSurface" type="xsd:int"/> 				
			<xsd:element name="productionType" type="vet:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="vet:breedingMethodTypology"/> 
  			<xsd:element name="siteInspectionDeadline" type="xsd:date"/>
		
		</xsd:sequence>
	
	</xsd:complexType>
	
	<xsd:complexType name="farmSiteInspectionResponse">
		<xsd:sequence>
            <xsd:element name="siteInspectionVerbal" type="vet:veterinarySiteInspectionDetails"/>              							
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="veterinarySiteInspectionDetails">
		<xsd:sequence>
            <xsd:element name="veterinaryName" type="xsd:string"/>   
            <xsd:element name="veterinarySurname" type="xsd:string"/>       	
			<xsd:element name="siteAddress" type="vet:addressDetails"/>
	        <xsd:element name="farmSurface" type="xsd:int"/> 		 	
			<xsd:element name="productionType" type="vet:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="vet:breedingMethodTypology"/> 
            <xsd:element name="siteInspectionDate" type="xsd:date"/>   
	        <xsd:element name="referenceLegislation" type="xsd:string"/>             							
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="farmRegistrationNotification">
		<xsd:sequence>	
        	<xsd:element name="ChoreographyID" type="xsd:string"></xsd:element>
        	<xsd:element name="farmRegistrationNotificationDetails" type="vet:farmRegistrationNotificationDetails"></xsd:element>               	          							
		</xsd:sequence>
	</xsd:complexType>	
	
	<xsd:complexType name="farmRegistrationNotificationDetails">
	
		<xsd:sequence>
		
			<xsd:element name="farmCode" type="xsd:string"/>  
            <xsd:element name="farmName" type="xsd:string"/> 
			<xsd:element name="siteAddress" type="vet:addressDetails"/>  
	        <xsd:element name="farmSurface" type="xsd:int"/> 			           
            <xsd:element name="productionType" type="vet:productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="vet:breedingMethodTypology"/> 
		
		</xsd:sequence>
	
	</xsd:complexType>
	
	</xsd:schema>
</wsdl:types>
  
  <wsdl:message name="farmSiteInspectionRequest">
    <wsdl:part name="parameters" element="vet:farmSiteInspectionRequest">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="farmRegistrationNotification">
    <wsdl:part name="parameters" element="vet:farmRegistrationNotification">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="VeterinaryBpel">
    <wsdl:operation name="FarmOpeningSiteInspectionRequest">
      <wsdl:input name="farmSiteInspectionRequest" message="vet:farmSiteInspectionRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FarmHealthcareRegistration">
      <wsdl:input name="farmRegistrationNotification" message="vet:farmRegistrationNotification">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LocalHealthcareCompanyVeterinaryPT">
    <wsdl:operation name="farmOpeningSiteInspectionRequest">
      <wsdl:input message="vet:farmSiteInspectionRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RegistryOfficeVeterinaryPT">
    <wsdl:operation name="farmHealthcareRegistration">
      <wsdl:input message="vet:farmRegistrationNotification">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VeterinaryBpelServiceSoapBinding" type="vet:VeterinaryBpel">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FarmOpeningSiteInspectionRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmSiteInspectionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FarmHealthcareRegistration">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="farmRegistrationNotification">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
   
  <wsdl:binding name="RegistryOfficeVeterinaryBinding" type="vet:RegistryOfficeVeterinaryPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="farmHealthcareRegistration">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LocalHealthcareCompanyVeterinaryBinding" type="vet:LocalHealthcareCompanyVeterinaryPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="farmOpeningSiteInspectionRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="LocalHealthcareCompanyVeterinaryService">
    <wsdl:port binding="vet:LocalHealthcareCompanyVeterinaryBinding" name="LocalHealthcareCompanyVeterinaryPort">
      <soap:address location="http://localhost:8080/ode/processes/LocalHealthcareCompanyVeterinary"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="RegistryOfficeVeterinaryService">
    <wsdl:port binding="vet:RegistryOfficeVeterinaryBinding" name="RegistryOfficeVeterinaryPort">
      <soap:address location="http://localhost:8080/ode/processes/RegistryOfficeVeterinary"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="VeterinaryBpelService">
    <wsdl:port name="VeterinaryBpelServicePort" binding="vet:VeterinaryBpelServiceSoapBinding">
      <soap:address location="http://localhost:8080/ode/processes/VeterinaryBpelService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
     