cdRegistryOffice/localhealthcarecompany.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://eu.chorevolution.farmbusinessstartup/cdlocalhealthcarecompany" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="cdlocalhealthcarecompany" targetNamespace="http://eu.chorevolution.farmbusinessstartup/cdlocalhealthcarecompany">
  <wsdl:types>
    <xsd:schema xmlns="http://eu.chorevolution.farmbusinessstartup/cdlocalhealthcarecompany" elementFormDefault="unqualified" targetNamespace="http://eu.chorevolution.farmbusinessstartup/cdlocalhealthcarecompany">
    <xsd:complexType name="farmBusinessStartupRequest">
        <xsd:sequence>
            <xsd:element name="farmBusinessStartupRequestForm" type="farmBusinessStartupRequestFormDetails"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmBusinessStartupRequestFormDetails">
        <xsd:sequence>
            <xsd:element name="owner" type="personData"/>
            <xsd:element name="farm" type="farmDetails"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="personData">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="surname" type="xsd:string"/>
            <xsd:element name="address" type="addressDetails"/>
            <xsd:element name="phoneNumber" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="fiscalCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="addressDetails">
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="postcode" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmDetails">
        <xsd:sequence>
            <xsd:element name="farmName" type="xsd:string"/>
            <xsd:element name="companyName" type="xsd:string"/>
            <xsd:element name="companyType" type="companyTypology"/>
            <xsd:element name="companyHeadquarter" type="addressDetails"/>
            <xsd:element name="farmSurface" type="xsd:int"/>
            <xsd:element name="phoneNumber" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="vatNumber" type="xsd:string"/>
            <xsd:element name="productionType" type="productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="breedingMethodTypology"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="companyTypology">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="individual company"/>
            <xsd:enumeration value="partnership"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="productionTypology">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="weaning center"/>
            <xsd:enumeration value="fattening for self-consumption"/>
            <xsd:enumeration value="fattening cattle adults"/>
            <xsd:enumeration value="fattening calf white meat"/>
            <xsd:enumeration value="milk production"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="breedingMethodTypology">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="intensive"/>
            <xsd:enumeration value="free-range intensive"/>
            <xsd:enumeration value="transhumant"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="farmSiteInspectionRequest">
        <xsd:sequence>
            <xsd:element name="farmName" type="xsd:string"/>
            <xsd:element name="companyName" type="xsd:string"/>
            <xsd:element name="siteAddress" type="addressDetails"/>
            <xsd:element name="farmSurface" type="xsd:int"/>
            <xsd:element name="productionType" type="productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="breedingMethodTypology"/>
            <xsd:element name="siteInspectionDeadline" type="xsd:date"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmSiteInspectionResponse">
        <xsd:sequence>
            <xsd:element name="siteInspectionVerbal" type="veterinarySiteInspectionDetails"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="veterinarySiteInspectionDetails">
        <xsd:sequence>
            <xsd:element name="veterinaryName" type="xsd:string"/>
            <xsd:element name="veterinarySurname" type="xsd:string"/>
            <xsd:element name="siteAddress" type="addressDetails"/>
            <xsd:element name="farmSurface" type="xsd:int"/>
            <xsd:element name="productionType" type="productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="breedingMethodTypology"/>
            <xsd:element name="siteInspectionDate" type="xsd:date"/>
            <xsd:element name="referenceLegislation" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmOpeningNotification">
        <xsd:sequence>
            <xsd:element name="farmOpeningRequestForm" type="farmBusinessStartupRequestFormDetails"/>
            <xsd:element name="siteInspectionDetails" type="veterinarySiteInspectionDetails"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmRegistrationRequest">
        <xsd:sequence>
            <xsd:element name="owner" type="personData"/>
            <xsd:element name="farm" type="farmDetails"/>
            <xsd:element name="siteInspectionDetails" type="veterinarySiteInspectionDetails"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmRegistrationResponse">
        <xsd:sequence>
            <xsd:element name="farmCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmBusinessStartupResponse">
        <xsd:sequence>
            <xsd:element name="farmCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmRegistrationNotification">
        <xsd:sequence>
            <xsd:element name="farmCode" type="xsd:string"/>
            <xsd:element name="farmName" type="xsd:string"/>
            <xsd:element name="siteAddress" type="addressDetails"/>
            <xsd:element name="farmSurface" type="xsd:int"/>
            <xsd:element name="productionType" type="productionTypology"/>
            <xsd:element name="breedingMethodologyType" type="breedingMethodTypology"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmBusinessCodeStartupNotification">
        <xsd:sequence>
            <xsd:element name="farmCode" type="xsd:string"/>
            <xsd:element name="farm" type="farmDetails"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="choreographyInstanceRequest">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="farmBusinessStartupRequestType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="senderParticipantName" type="xsd:string"/>
            <xsd:element name="receiverParticipantName" type="xsd:string"/>
            <xsd:element name="choreographyTaskName" type="xsd:string"/>
            <xsd:element name="inputMessageName" type="xsd:string"/>
            <xsd:element name="inputMessageData" type="farmBusinessStartupRequest"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="farmBusinessStartupRequestElementRequest" type="farmBusinessStartupRequestType"/>
    <xsd:complexType name="farmSiteInspectionResponseType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="senderParticipantName" type="xsd:string"/>
            <xsd:element name="receiverParticipantName" type="xsd:string"/>
            <xsd:element name="choreographyTaskName" type="xsd:string"/>
            <xsd:element name="inputMessageName" type="xsd:string"/>
            <xsd:element name="inputMessageData" type="farmSiteInspectionResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="farmSiteInspectionResponseElementRequest" type="farmSiteInspectionResponseType"/>
    <xsd:complexType name="farmRegistrationNotificationType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="senderParticipantName" type="xsd:string"/>
            <xsd:element name="receiverParticipantName" type="xsd:string"/>
            <xsd:element name="choreographyTaskName" type="xsd:string"/>
            <xsd:element name="inputMessageName" type="xsd:string"/>
            <xsd:element name="inputMessageData" type="farmRegistrationNotification"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="farmRegistrationNotificationElementRequest" type="farmRegistrationNotificationType"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="farmSiteInspectionResponseMessageRequest">
    <wsdl:part element="tns:farmSiteInspectionResponseElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="farmRegistrationNotificationMessageRequest">
    <wsdl:part element="tns:farmRegistrationNotificationElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="farmBusinessStartupRequestMessageRequest">
    <wsdl:part element="tns:farmBusinessStartupRequestElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegistryOfficeLocalHealthcareCompanyPT">
    <wsdl:operation name="farmBusinessStartupNotification">
      <wsdl:input message="tns:farmRegistrationNotificationMessageRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserLocalHealthcareCompanyPT">
    <wsdl:operation name="farmBusinessCodeRequest">
      <wsdl:input message="tns:farmBusinessStartupRequestMessageRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="VeterinaryLocalHealthcareCompanyPT">
    <wsdl:operation name="farmSiteInspectionVerbal">
      <wsdl:input message="tns:farmSiteInspectionResponseMessageRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserLocalHealthcareCompanyBinding" type="tns:UserLocalHealthcareCompanyPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="farmBusinessCodeRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VeterinaryLocalHealthcareCompanyBinding" type="tns:VeterinaryLocalHealthcareCompanyPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="farmSiteInspectionVerbal">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistryOfficeLocalHealthcareCompanyBinding" type="tns:RegistryOfficeLocalHealthcareCompanyPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="farmBusinessStartupNotification">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistryOfficeLocalHealthcareCompanyService">
    <wsdl:port binding="tns:RegistryOfficeLocalHealthcareCompanyBinding" name="RegistryOfficeLocalHealthcareCompanyPort">
      <soap:address location="http://localhost:7070/LocalHealthcareCompany"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="UserLocalHealthcareCompanyService">
    <wsdl:port binding="tns:UserLocalHealthcareCompanyBinding" name="UserLocalHealthcareCompanyPort">
      <soap:address location="http://localhost:7070/LocalHealthcareCompany"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="VeterinaryLocalHealthcareCompanyService">
    <wsdl:port binding="tns:VeterinaryLocalHealthcareCompanyBinding" name="VeterinaryLocalHealthcareCompanyPort">
      <soap:address location="http://localhost:7070/LocalHealthcareCompany"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
